/* Login CSS starts */

body{
	background-color: #19123B;
}
.card{
	border: none;
	border-top: 5px solid  rgb(176,106,252);
	background: #212042;
	color: #57557A;
}
p{
	color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.fa{
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	background: #2A284D;
}
a:hover{
    text-decoration: none;
}
.fa:hover{
	cursor: pointer;
}
.fa-twitter{
	color: #56ABEC;
    background-color: #fff;
    border-radius:50%;
    padding:15px;
    font-size:20px;
}
.fa-twitter:hover{
    background-color:#56ABEC;
    color:#fff;
    transition:ease 1s;
}
.fa-facebook{
	color: #1775F1;
    background-color: #fff;
    border-radius:50%;
    padding:15px;
    font-size:20px;
}
.fa-facebook:hover{
    background-color: #1775F1;
    color:#fff;
    transition:ease 1s;
}
.fa-google{
	color: #CB5048;
    background-color: #fff;
    border-radius:50%;
    padding:15px;
    font-size:20px;
}
.fa-google:hover{
    background-color: #CB5048;
    color:#fff;
    transition:ease 1s;
}
.division{
	float: none;
	position: relative;
	margin: 30px auto 20px;
	text-align: center;
	width: 100%;
	box-sizing: border-box;
}
.division .line{
	border-top: 1.5px solid #57557A;;
	position: absolute;
	top: 13px;
	width: 85%;
}
.line.l{
	left: 52px;
}
.line.r{
	right: 45px;

}
.division span{
	font-weight: 600;
	font-size: 14px;
}
.division .row .col-6 , .sign_up{
    color:#fff;
}
.sign_up a{
    color:#57557A;
    padding-left:10px;
}
.myform{
	padding: 0 25px 0 33px;
}
.form-control{
	border: 1px solid #57557A;
	border-radius: 3px;
	background: #212042;
	margin-bottom: 20px;
	letter-spacing: 1px;
}
.form-control:focus{
	border: 1px solid #57557A;
	border-radius: 3px;
	box-shadow: none;
	background: #212042;
	color: #fff;
	letter-spacing: 1px;
}
.form-check-input {
    width: 20px;
    height:20px;
}
label{
    color:#fff;
}
.btn-primary{
    background: linear-gradient(135deg, rgba(176,106,252,1) 39%,rgba(116,17,255,1) 101%);
    border: none;
    border-radius: 50px;
}
.btn-primary:focus{
	box-shadow: none;
	border: none;
}
.bn{
    color:#fff;
}

/* Login CSS ends */

/* Login responsive CSS starts */

@media(min-width: 767px){
	.bn{
		text-align: right;
	}
}
@media(max-width: 450px){
	.fa{
		width: 100%;
		height: 100%;
	}
	.division .line{
		width: 50%;
	}
}

/* Login responsive CSS ends */